In [1]:
import pandas as pd
from datetime import datetime
import os
import numpy as np

### Import and Join Quarterly Reports of Membership and Ridership Data

In [2]:
file = pd.read_csv(os.path.join("Raw","Daily_Ridership_Membership_Data","2019Q2.csv"))
df = pd.DataFrame(file)
df

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/2019,51399,75072,303223,1466,76
1,4/2/2019,57903,83399,303386,1483,73
2,4/3/2019,67924,108780,303552,3013,79
3,4/4/2019,66403,104268,303699,2633,87
4,4/5/2019,34470,46930,303766,812,46
5,4/6/2019,66532,143054,303958,8852,139
6,4/7/2019,64713,138291,304216,8191,87
7,4/8/2019,70514,123304,304525,3804,89
8,4/9/2019,59336,86248,304677,1684,79
9,4/10/2019,70988,112985,304865,2845,116
10,4/11/2019,62430,93232,305003,2222,93
11,4/12/2019,58010,92517,305134,2811,118
12,4/13/2019,71500,159264,305362,10443,128
13,4/14/2019,58474,123470,305584,7263,119
14,4/15/2019,45663,71673,305722,1816,75
15,4/16/2019,63323,106799,305906,3197,134
16,4/17/2019,65249,109668,306077,3276,89
17,4/18/2019,61568,98909,306205,2845,104
18,4/19/2019,64939,120796,306365,5782,271
19,4/20/2019,36785,68489,306453,4049,115
20,4/21/2019,51869,114490,306647,7439,140
21,4/22/2019,44112,71869,306827,3426,69
22,4/23/2019,75443,143334,307082,5928,202
23,4/24/2019,77736,144473,307320,5868,135
24,4/25/2019,60834,101124,307484,3569,114
25,4/26/2019,37121,55000,307578,1387,76
26,4/27/2019,56442,111440,307737,7022,151
27,4/28/2019,41204,68976,307862,3338,87
28,4/29/2019,60801,98707,308020,2829,104
29,4/30/2019,62668,99225,308192,2715,94
...,...,...,...,...,...,...
41,5/12/2019,10730,15759,310063,475,9
42,5/13/2019,22300,29434,310141,553,19
43,5/14/2019,42783,61756,310248,1301,73
44,5/15/2019,74314,129217,310395,4484,140
45,5/16/2019,77889,139278,310590,5354,174
46,5/17/2019,72118,126992,310760,5124,167
47,5/18/2019,73143,162302,310992,11292,227
48,5/19/2019,69920,154638,311245,10321,193
49,5/20/2019,74494,133696,311495,5225,173
50,5/21/2019,79261,139284,311686,5088,160
51,5/22/2019,82021,144186,311888,5431,153
52,5/23/2019,56578,93244,312082,3527,121
53,5/24/2019,74866,141169,312276,7322,245
54,5/25/2019,59492,136772,312484,10682,279
55,5/26/2019,49950,118192,312648,9325,145
56,5/27/2019,66595,160750,312896,12124,136
57,5/28/2019,59435,97330,313092,2992,96
58,5/29/2019,55098,87647,313251,2952,111
59,5/30/2019,52484,84325,313402,2831,129
60,5/31/2019,83347,156832,313606,7586,261
61,6/1/2019,76416,164956,313815,12153,214
62,6/2/2019,67288,147247,314051,10419,144
63,6/3/2019,77678,141960,314327,6027,152
64,6/4/2019,83301,150076,314642,6422,168
65,6/5/2019,78791,134998,314889,5166,143
66,6/6/2019,81323,143619,315121,6138,183
67,6/7/2019,82908,150312,315337,7530,256
68,6/8/2019,78074,175352,315583,13831,206
69,6/9/2019,73954,167597,315861,12833,121
70,6/10/2019,37019,54769,316007,1566,44

In [3]:
df.drop(['Column 1'], axis=1, inplace = True)
df

KeyError: "['Column 1'] not found in axis"

In [ ]:
df.to_csv(os.path.join("Raw","Daily_Ridership_Membership_Data","2019Q2.csv"), index = False)

In [4]:
appended_data = []
path = os.path.join("Raw","Daily_Ridership_Membership_Data")
for WorkingFile in os.listdir(path):
    file = pd.read_csv(os.path.join(path, WorkingFile))
    df = pd.DataFrame(file)
    df['Date'] = pd.to_datetime(df['Date'])
    df.rename(columns = {
    'Trips over the past 24-hours (midnight to 11:59pm)':'Trips',
    'Miles traveled today (midnight to 11:59 pm)':'Miles_Traveled',
    'Total Annual Members (All Time)':'Total_Annual_Members',
    '24-Hour Passes Purchased (midnight to 11:59 pm)':'24-Hour_Passes_Purchased',
    '3-Day Passes Purchased (midnight to 11:59 pm)':'3-Day_Passes_Purchased'}, inplace = True)
    df['Year'] = df['Date'].dt.year
    appended_data.append(df)
appended_data = pd.concat(appended_data)
appended_data

,Date,Trips,Miles_Traveled,Total_Annual_Members,24-Hour_Passes_Purchased,3-Day_Passes_Purchased,Year
0,2018-01-01,5499,11483,253490,123,7,2018
1,2018-01-02,18818,39352,253558,125,12,2018
2,2018-01-03,24299,42853,253591,164,4,2018
3,2018-01-04,1922,5328,253604,2,1,2018
4,2018-01-05,4972,14303,253614,14,0,2018
5,2018-01-06,4294,9479,253624,9,2,2018
6,2018-01-07,5640,9387,253640,41,4,2018
7,2018-01-08,15820,31294,253661,45,4,2018
8,2018-01-09,25090,50981,253690,112,17,2018
9,2018-01-10,28252,50218,253720,142,18,2018
10,2018-01-11,33961,66584,253757,244,15,2018
11,2018-01-12,22252,46403,253786,152,16,2018
12,2018-01-13,17758,30418,253809,355,31,2018
13,2018-01-14,12394,32949,253827,183,9,2018
14,2018-01-15,17637,41770,253857,150,8,2018
15,2018-01-16,30278,60053,253895,189,13,2018
16,2018-01-17,19010,36319,253921,52,12,2018
17,2018-01-18,27662,52573,253952,92,18,2018
18,2018-01-19,30525,50322,253983,216,15,2018
19,2018-01-20,28507,59336,254025,1044,41,2018
20,2018-01-21,27908,61571,254092,1013,26,2018
21,2018-01-22,36864,68638,254144,345,25,2018
22,2018-01-23,28796,63693,254191,179,19,2018
23,2018-01-24,36078,69596,254236,232,32,2018
24,2018-01-25,31147,51927,254263,181,16,2018
25,2018-01-26,33073,61857,254301,313,23,2018
26,2018-01-27,34348,70146,254368,1415,41,2018
27,2018-01-28,20100,38221,254415,334,22,2018
28,2018-01-29,36799,68868,254466,274,33,2018
29,2018-01-30,27996,59260,254492,114,15,2018
...,...,...,...,...,...,...,...
41,2019-05-12,10730,15759,310063,475,9,2019
42,2019-05-13,22300,29434,310141,553,19,2019
43,2019-05-14,42783,61756,310248,1301,73,2019
44,2019-05-15,74314,129217,310395,4484,140,2019
45,2019-05-16,77889,139278,310590,5354,174,2019
46,2019-05-17,72118,126992,310760,5124,167,2019
47,2019-05-18,73143,162302,310992,11292,227,2019
48,2019-05-19,69920,154638,311245,10321,193,2019
49,2019-05-20,74494,133696,311495,5225,173,2019
50,2019-05-21,79261,139284,311686,5088,160,2019
51,2019-05-22,82021,144186,311888,5431,153,2019
52,2019-05-23,56578,93244,312082,3527,121,2019
53,2019-05-24,74866,141169,312276,7322,245,2019
54,2019-05-25,59492,136772,312484,10682,279,2019
55,2019-05-26,49950,118192,312648,9325,145,2019
56,2019-05-27,66595,160750,312896,12124,136,2019
57,2019-05-28,59435,97330,313092,2992,96,2019
58,2019-05-29,55098,87647,313251,2952,111,2019
59,2019-05-30,52484,84325,313402,2831,129,2019
60,2019-05-31,83347,156832,313606,7586,261,2019
61,2019-06-01,76416,164956,313815,12153,214,2019
62,2019-06-02,67288,147247,314051,10419,144,2019
63,2019-06-03,77678,141960,314327,6027,152,2019
64,2019-06-04,83301,150076,314642,6422,168,2019
65,2019-06-05,78791,134998,314889,5166,143,2019
66,2019-06-06,81323,143619,315121,6138,183,2019
67,2019-06-07,82908,150312,315337,7530,256,2019
68,2019-06-08,78074,175352,315583,13831,206,2019
69,2019-06-09,73954,167597,315861,12833,121,2019
70,2019-06-10,37019,54769,316007,1566,44,2019

In [5]:
appended_data.dtypes

Date                        datetime64[ns]
Trips                                int64
Miles_Traveled                       int64
Total_Annual_Members                 int64
24-Hour_Passes_Purchased             int64
3-Day_Passes_Purchased               int64
Year                                 int64
dtype: object

In [17]:
# def mapper(month):
#     return month.strftime('%b')

# appended_data['Month'] = appended_data['Date'].apply(mapper)
appended_data['Month-Year']= appended_data['Month'].map(str) +'-1-'+ appended_data['Year'].map(str)
appended_data

,Date,Trips,Miles_Traveled,Total_Annual_Members,24-Hour_Passes_Purchased,3-Day_Passes_Purchased,Year,Month,Month-Year
0,2018-01-01,5499,11483,253490,123,7,2018,Jan,Jan-1-2018
1,2018-01-02,18818,39352,253558,125,12,2018,Jan,Jan-1-2018
2,2018-01-03,24299,42853,253591,164,4,2018,Jan,Jan-1-2018
3,2018-01-04,1922,5328,253604,2,1,2018,Jan,Jan-1-2018
4,2018-01-05,4972,14303,253614,14,0,2018,Jan,Jan-1-2018
5,2018-01-06,4294,9479,253624,9,2,2018,Jan,Jan-1-2018
6,2018-01-07,5640,9387,253640,41,4,2018,Jan,Jan-1-2018
7,2018-01-08,15820,31294,253661,45,4,2018,Jan,Jan-1-2018
8,2018-01-09,25090,50981,253690,112,17,2018,Jan,Jan-1-2018
9,2018-01-10,28252,50218,253720,142,18,2018,Jan,Jan-1-2018
10,2018-01-11,33961,66584,253757,244,15,2018,Jan,Jan-1-2018
11,2018-01-12,22252,46403,253786,152,16,2018,Jan,Jan-1-2018
12,2018-01-13,17758,30418,253809,355,31,2018,Jan,Jan-1-2018
13,2018-01-14,12394,32949,253827,183,9,2018,Jan,Jan-1-2018
14,2018-01-15,17637,41770,253857,150,8,2018,Jan,Jan-1-2018
15,2018-01-16,30278,60053,253895,189,13,2018,Jan,Jan-1-2018
16,2018-01-17,19010,36319,253921,52,12,2018,Jan,Jan-1-2018
17,2018-01-18,27662,52573,253952,92,18,2018,Jan,Jan-1-2018
18,2018-01-19,30525,50322,253983,216,15,2018,Jan,Jan-1-2018
19,2018-01-20,28507,59336,254025,1044,41,2018,Jan,Jan-1-2018
20,2018-01-21,27908,61571,254092,1013,26,2018,Jan,Jan-1-2018
21,2018-01-22,36864,68638,254144,345,25,2018,Jan,Jan-1-2018
22,2018-01-23,28796,63693,254191,179,19,2018,Jan,Jan-1-2018
23,2018-01-24,36078,69596,254236,232,32,2018,Jan,Jan-1-2018
24,2018-01-25,31147,51927,254263,181,16,2018,Jan,Jan-1-2018
25,2018-01-26,33073,61857,254301,313,23,2018,Jan,Jan-1-2018
26,2018-01-27,34348,70146,254368,1415,41,2018,Jan,Jan-1-2018
27,2018-01-28,20100,38221,254415,334,22,2018,Jan,Jan-1-2018
28,2018-01-29,36799,68868,254466,274,33,2018,Jan,Jan-1-2018
29,2018-01-30,27996,59260,254492,114,15,2018,Jan,Jan-1-2018
...,...,...,...,...,...,...,...,...,...
41,2019-05-12,10730,15759,310063,475,9,2019,May,May-1-2019
42,2019-05-13,22300,29434,310141,553,19,2019,May,May-1-2019
43,2019-05-14,42783,61756,310248,1301,73,2019,May,May-1-2019
44,2019-05-15,74314,129217,310395,4484,140,2019,May,May-1-2019
45,2019-05-16,77889,139278,310590,5354,174,2019,May,May-1-2019
46,2019-05-17,72118,126992,310760,5124,167,2019,May,May-1-2019
47,2019-05-18,73143,162302,310992,11292,227,2019,May,May-1-2019
48,2019-05-19,69920,154638,311245,10321,193,2019,May,May-1-2019
49,2019-05-20,74494,133696,311495,5225,173,2019,May,May-1-2019
50,2019-05-21,79261,139284,311686,5088,160,2019,May,May-1-2019
51,2019-05-22,82021,144186,311888,5431,153,2019,May,May-1-2019
52,2019-05-23,56578,93244,312082,3527,121,2019,May,May-1-2019
53,2019-05-24,74866,141169,312276,7322,245,2019,May,May-1-2019
54,2019-05-25,59492,136772,312484,10682,279,2019,May,May-1-2019
55,2019-05-26,49950,118192,312648,9325,145,2019,May,May-1-2019
56,2019-05-27,66595,160750,312896,12124,136,2019,May,May-1-2019
57,2019-05-28,59435,97330,313092,2992,96,2019,May,May-1-2019
58,2019-05-29,55098,87647,313251,2952,111,2019,May,May-1-2019
59,2019-05-30,52484,84325,313402,2831,129,2019,May,May-1-2019
60,2019-05-31,83347,156832,313606,7586,261,2019,May,May-1-2019
61,2019-06-01,76416,164956,313815,12153,214,2019,Jun,Jun-1-2019
62,2019-06-02,67288,147247,314051,10419,144,2019,Jun,Jun-1-2019
63,2019-06-03,77678,141960,314327,6027,152,2019,Jun,Jun-1-2019
64,2019-06-04,83301,150076,314642,6422,168,2019,Jun,Jun-1-2019
65,2019-06-05,78791,134998,314889,5166,143,2019,Jun,Jun-1-2019
66,2019-06-06,81323,143619,315121,6138,183,2019,Jun,Jun-1-2019
67,2019-06-07,82908,150312,315337,7530,256,2019,Jun,Jun-1-2019
68,2019-06-08,78074,175352,315583,13831,206,2019,Jun,Jun-1-2019
69,2019-06-09,73954,167597,315861,12833,121,2019,Jun,Jun-1-2019
70,2019-06-10,37019,54769,316007,1566,44,2019,Jun,Jun-1-2019

In [25]:
grouped_df=appended_data.groupby('Month-Year').agg({'Date':['nunique'], 
                                                    'Trips': ['sum'], 
                                                    'Miles_Traveled':['sum','mean'],
                                                    '24-Hour_Passes_Purchased':['sum','mean'],
                                                    '3-Day_Passes_Purchased':['sum','mean'],
                                                    'Total_Annual_Members':['min', 'max', 'mean']}).reset_index()
grouped_df

    Month-Year    Date    Trips Miles_Traveled                 \
               nunique      sum            sum           mean
0   Apr-1-2018      30  1307490        3123635  104121.166667
1   Apr-1-2019      30  1766353        3075786  102526.200000
2   Aug-1-2018      31  1977614        3550137  114520.548387
3   Dec-1-2018      31  1029782        1543561   49792.290323
4   Feb-1-2018      28   843097        1749467   62480.964286
5   Feb-1-2019      28   956381        1397032   49894.000000
6   Jan-1-2018      31   718975        1409622   45471.677419
7   Jan-1-2019      31   978907        1387517   44758.612903
8   Jul-1-2018      31  1913557        4060337  130978.612903
9   Jun-1-2018      30  1952869        4502487  150082.900000
10  Jun-1-2019      10   736752        1430886  143088.600000
11  Mar-1-2018      31   975994        2079814   67090.774194
12  Mar-1-2019      31  1328181        2061862   66511.677419
13  May-1-2018      31  1824665        4438048  143162.838710
14  May-1-2019      31  1924708        3515610  113406.774194
15  Nov-1-2018      30  1276327        2004882   66829.400000
16  Oct-1-2018      31  1895417        3160486  101951.161290
17  Sep-1-2018      30  1878131        3372575  112419.166667

   24-Hour_Passes_Purchased              3-Day_Passes_Purchased              \
                        sum         mean                    sum        mean
0                     52705  1756.833333                   4141  138.033333
1                    122008  4066.933333                   3289  109.633333
2                    120395  3883.709677                   7329  236.419355
3                     32144  1036.903226                   1065   34.354839
4                     11624   415.142857                    932   33.285714
5                     25134   897.642857                    711   25.392857
6                      7995   257.903226                    518   16.709677
7                     21243   685.258065                    579   18.677419
8                    125184  4038.193548                   7693  248.161290
9                    111190  3706.333333                   6919  230.633333
10                    82085  8208.500000                   1631  163.100000
11                    20074   647.548387                   1502   48.451613
12                    58588  1889.935484                   1679   54.161290
13                    93022  3000.709677                   7533  243.000000
14                   161924  5223.354839                   4412  142.322581
15                    50017  1667.233333                   2216   73.866667
16                    88420  2852.258065                   5443  175.580645
17                   113634  3787.800000                   7981  266.033333

   Total_Annual_Members
                    min     max           mean
0                257811  261874  259453.533333
1                303223  308192  305747.566667
2                279888  285087  282534.935484
3                296553  297748  297136.935484
4                254590  255944  255114.357143
5                298998  300157  299610.642857
6                253490  254539  253951.967742
7                297823  298975  298465.225806
8                274813  279702  277303.451613
9                269167  274628  271973.266667
10               313815  316007  314963.300000
11               256022  257701  256788.161290
12               300183  303060  301235.193548
13               262154  268998  265720.032258
14               308383  313606  310850.741935
15               294111  296497  295074.000000
16               290631  294007  292340.548387
17               285245  290467  287846.500000

In [27]:
grouped_df = grouped_df[grouped_df['Month-Year'] != 'Jun-1-2019']
grouped_df

    Month-Year    Date    Trips Miles_Traveled                 \
               nunique      sum            sum           mean
0   Apr-1-2018      30  1307490        3123635  104121.166667
1   Apr-1-2019      30  1766353        3075786  102526.200000
2   Aug-1-2018      31  1977614        3550137  114520.548387
3   Dec-1-2018      31  1029782        1543561   49792.290323
4   Feb-1-2018      28   843097        1749467   62480.964286
5   Feb-1-2019      28   956381        1397032   49894.000000
6   Jan-1-2018      31   718975        1409622   45471.677419
7   Jan-1-2019      31   978907        1387517   44758.612903
8   Jul-1-2018      31  1913557        4060337  130978.612903
9   Jun-1-2018      30  1952869        4502487  150082.900000
11  Mar-1-2018      31   975994        2079814   67090.774194
12  Mar-1-2019      31  1328181        2061862   66511.677419
13  May-1-2018      31  1824665        4438048  143162.838710
14  May-1-2019      31  1924708        3515610  113406.774194
15  Nov-1-2018      30  1276327        2004882   66829.400000
16  Oct-1-2018      31  1895417        3160486  101951.161290
17  Sep-1-2018      30  1878131        3372575  112419.166667

   24-Hour_Passes_Purchased              3-Day_Passes_Purchased              \
                        sum         mean                    sum        mean
0                     52705  1756.833333                   4141  138.033333
1                    122008  4066.933333                   3289  109.633333
2                    120395  3883.709677                   7329  236.419355
3                     32144  1036.903226                   1065   34.354839
4                     11624   415.142857                    932   33.285714
5                     25134   897.642857                    711   25.392857
6                      7995   257.903226                    518   16.709677
7                     21243   685.258065                    579   18.677419
8                    125184  4038.193548                   7693  248.161290
9                    111190  3706.333333                   6919  230.633333
11                    20074   647.548387                   1502   48.451613
12                    58588  1889.935484                   1679   54.161290
13                    93022  3000.709677                   7533  243.000000
14                   161924  5223.354839                   4412  142.322581
15                    50017  1667.233333                   2216   73.866667
16                    88420  2852.258065                   5443  175.580645
17                   113634  3787.800000                   7981  266.033333

   Total_Annual_Members
                    min     max           mean
0                257811  261874  259453.533333
1                303223  308192  305747.566667
2                279888  285087  282534.935484
3                296553  297748  297136.935484
4                254590  255944  255114.357143
5                298998  300157  299610.642857
6                253490  254539  253951.967742
7                297823  298975  298465.225806
8                274813  279702  277303.451613
9                269167  274628  271973.266667
11               256022  257701  256788.161290
12               300183  303060  301235.193548
13               262154  268998  265720.032258
14               308383  313606  310850.741935
15               294111  296497  295074.000000
16               290631  294007  292340.548387
17               285245  290467  287846.500000

In [30]:
grouped_df['Month-Year'] = pd.to_datetime(grouped_df['Month-Year'])
grouped_df.columns = grouped_df.columns.map('_'.join)
grouped_df

,Month-Year_,Date_nunique,Trips_sum,Miles_Traveled_sum,Miles_Traveled_mean,24-Hour_Passes_Purchased_sum,24-Hour_Passes_Purchased_mean,3-Day_Passes_Purchased_sum,3-Day_Passes_Purchased_mean,Total_Annual_Members_min,Total_Annual_Members_max,Total_Annual_Members_mean
0,2018-04-01,30,1307490,3123635,104121.166667,52705,1756.833333,4141,138.033333,257811,261874,259453.533333
1,2019-04-01,30,1766353,3075786,102526.200000,122008,4066.933333,3289,109.633333,303223,308192,305747.566667
2,2018-08-01,31,1977614,3550137,114520.548387,120395,3883.709677,7329,236.419355,279888,285087,282534.935484
3,2018-12-01,31,1029782,1543561,49792.290323,32144,1036.903226,1065,34.354839,296553,297748,297136.935484
4,2018-02-01,28,843097,1749467,62480.964286,11624,415.142857,932,33.285714,254590,255944,255114.357143
5,2019-02-01,28,956381,1397032,49894.000000,25134,897.642857,711,25.392857,298998,300157,299610.642857
6,2018-01-01,31,718975,1409622,45471.677419,7995,257.903226,518,16.709677,253490,254539,253951.967742
7,2019-01-01,31,978907,1387517,44758.612903,21243,685.258065,579,18.677419,297823,298975,298465.225806
8,2018-07-01,31,1913557,4060337,130978.612903,125184,4038.193548,7693,248.161290,274813,279702,277303.451613
9,2018-06-01,30,1952869,4502487,150082.900000,111190,3706.333333,6919,230.633333,269167,274628,271973.266667
11,2018-03-01,31,975994,2079814,67090.774194,20074,647.548387,1502,48.451613,256022,257701,256788.161290
12,2019-03-01,31,1328181,2061862,66511.677419,58588,1889.935484,1679,54.161290,300183,303060,301235.193548
13,2018-05-01,31,1824665,4438048,143162.838710,93022,3000.709677,7533,243.000000,262154,268998,265720.032258
14,2019-05-01,31,1924708,3515610,113406.774194,161924,5223.354839,4412,142.322581,308383,313606,310850.741935
15,2018-11-01,30,1276327,2004882,66829.400000,50017,1667.233333,2216,73.866667,294111,296497,295074.000000
16,2018-10-01,31,1895417,3160486,101951.161290,88420,2852.258065,5443,175.580645,290631,294007,292340.548387
17,2018-09-01,30,1878131,3372575,112419.166667,113634,3787.800000,7981,266.033333,285245,290467,287846.500000

In [31]:
grouped_df.to_csv(os.path.join("Clean","Daily_Ridership_Membership_Data","Daily_Ridership_Membership_Data.csv"), index = False)

In [8]:
appended_data.describe()

,Trips,Miles_Traveled,Total_Annual_Members,24-Hour_Passes_Purchased,3-Day_Passes_Purchased,Year
count,526.000000,526.000000,526.000000,526.000000,526.000000,526.000000
mean,48070.722433,90995.711027,283670.954373,2466.513308,124.663498,2018.306084
std,19242.817281,43229.420768,18995.409511,2356.636430,113.211235,0.461304
min,1922.000000,5328.000000,253490.000000,2.000000,0.000000,2018.000000
25%,33499.000000,55826.250000,265177.500000,637.500000,28.000000,2018.000000
50%,48563.000000,86757.500000,288659.000000,1821.000000,87.000000,2018.000000
75%,65246.500000,125178.500000,298940.000000,3356.750000,207.000000,2019.000000
max,83347.000000,189852.000000,316007.000000,13831.000000,906.000000,2019.000000